<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="shortcut icon" href="assets/img/icons/icon-48x48.png" />

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
<div class="wrapper" >
  <nav id="sidebar" class="sidebar js-sidebar" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div class="sidebar-content js-simplebar">
      <a class="sidebar-brand">
        <span class="align-middle">Menu</span>
      </a>

      <ul class="sidebar-nav">
        <li class="sidebar-item">
          <a class="sidebar-link" (click)="onOrder()">
            <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Order Resume</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link" (click)="onList()">
            <i class="align-middle" data-feather="user"></i> <span class="align-middle">List Order Resume</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link" (click)="onKontrak()">
            <i class="align-middle" data-feather="log-in"></i> <span class="align-middle">Kontrak</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link" href="/print" target="_blank">
            <i class="align-middle" data-feather="log-in"></i> <span class="align-middle">Print</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="main" >
    <nav class="navbar navbar-expand navbar-light navbar-bg">
      <a class="sidebar-toggle js-sidebar-toggle"
      (click)="collapse.toggle()"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample">
        <i class="hamburger align-self-center"></i>
      </a>

      <div ngbDropdown class="navbar-collapse collapse" >
        <ul class="navbar-nav navbar-align">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-none d-sm-inline-block" data-toggle="dropdown" ngbDropdownToggle>
              <i class="bi bi-person-fill me-2">{{uname}}</i>
            </a>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu dropdown-menu-end">
                <a class="dropdown-item" ngbDropdownItem><i class="bi bi-person-lines-fill me-2"></i> Profile</a>
                <a class="dropdown-item" ngbDropdownItem><i class="bi bi-gear me-2"></i> Setting</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" ngbDropdownItem (click)="onLogout()"><i class="bi bi-box-arrow-right me-2"></i> Log out</a>
              </div>
          </li>
        </ul>
      </div>
    </nav>

    <main class="content">
<!--      <div *ngFor="let fitur of daftarFitur" class="container-fluid p-0">-->
        <div class="container-fluid p-0">
        <div class="row">
        <h1 class="h3 mb-3" *ngIf="order == true">Order Resume</h1>
        <h1 class="h3 mb-3" *ngIf="listOrder == true">List Order Resume</h1>
        <h1 class="h3 mb-3" *ngIf="kontrak == true">Kontrak</h1>
<!--        <div class="row">-->
          <div class="col-12 col-lg-8 col-xxl-9 d-flex">
            <div class="card flex-fill">
              <div class="card-header" *ngIf="order == true">
                <app-persyaratan></app-persyaratan>
              </div>

              <div class="card-header" *ngIf="listOrder == true">
                <app-list-persyaratan></app-list-persyaratan>
              </div>

              <div class="card-header" *ngIf="kontrak == true">
                <app-kontrak></app-kontrak>
              </div>

              <div class="card-header" *ngIf="dokumen == true">
                <app-dokumen></app-dokumen>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
</body>
</html>
