<div class="col py-3">
<div class="container">
  <div class="row">
<!--  <h4 class="mb-3">Dokumen Persyaratan</h4>-->
    <div class="table-responsive">
    <table class="table" datatable [dtOptions]="dtOptions">
      <thead>
      <tr>
        <td>Nama PT</td>
        <td>Status</td>
        <td>Kekurangan Berkas</td>
        <td>Aksi</td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>test</td>
        <td>Completed</td>
        <td>test test test</td>
        <td>
          <button>update</button>
          <button>preview</button>
        </td>
      </tr>
      <tr>
        <td>test</td>
        <td>Pending</td>
        <td>test test test</td>
        <td>
          <button>update</button>
          <button>preview</button>
        </td>
      </tr>
      <tr>
        <td>test</td>
        <td>Completed</td>
        <td>test test test</td>
        <td>
          <button>update</button>
          <button>preview</button>
        </td>
      </tr>
      <tr>
        <td>test</td>
        <td>Completed</td>
        <td>test test test</td>
        <td>
          <button>update</button>
          <button>preview</button>
        </td>
      </tr>
      <tr>
        <td>test</td>
        <td>Completed</td>
        <td>test test test</td>
        <td>
          <button>update</button>
          <button>preview</button>
        </td>
      </tr>
      <tr>
        <td>test</td>
        <td>Completed</td>
        <td>test test test</td>
        <td>
          <button>update</button>
          <button>preview</button>
        </td>
      </tr>
      <tr>
        <td>test</td>
        <td>Completed</td>
        <td>test test test</td>
        <td>
          <button>update</button>
          <button>preview</button>
        </td>
      </tr>
      <tr>
        <td>test</td>
        <td>Completed</td>
        <td>test test test</td>
        <td>
          <button>update</button>
          <button>preview</button>
        </td>
      </tr>
      <tr>
        <td>test</td>
        <td>Completed</td>
        <td>test test test</td>
        <td>
          <button>update</button>
          <button>preview</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>
</div>
