.doc5{
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.doc6{
  display: none;
}

img.logo {
  width: 250px;
}

.surat {
  margin-left: 30px;
  margin-right: 30px;
}

.isi{
  font-size: 12px;
}

.title {
  border: solid 1px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

h6, .h6 {
  /*font-size: 1rem;*/
  margin-bottom: auto;
}

.kop {
  display: flex;
  margin: 10px;
  justify-content: space-between;
}

.isi-surat{
  margin: 20px 10px 10px 10px;
  /*font-size: 12px;*/
  text-align: justify;
}

.bm{
  margin-top: 10px;
}

.table > thead {
  vertical-align: middle;
  text-align: center;
}

p.pby {
  display: inline-block;
}

td.ttl {
  width: 150px;
}

td.ttk {
  width: 20px;
}

.syt {
  margin-left: 20px;
  margin-right: 20px;
}

ol.syarat {
  margin: 0px;
}

li.syarat{
  list-style-type: lower-alpha;
}

.row.signer {
  display: flex;
  justify-content: space-around;
}

.col-md-3 {
  width: auto;
}

.footers {
  font-size: 10px;
  float: right;
  right: 0%;
  margin-top: 130px;
  border-left: solid 1px;
  padding-left: 5px;
}
