<div class="doc5">
  <div class="logo"><img class="logo" src="assets/img/bcafinancelogo.png" alt="bcafinancelogo"></div>
  <div class="surat">
    <div class="title"><h6>ORDER PEMBELIAN</h6></div>

    <div class="isi">
      <div class="kop">
        <div class="tujuan">
          Kepada:<br>
          PT KHARISMA ESA UNGGUL<br>
          Pusat Niaga Cibodas Blok E No. 12-14A,<br>
          JI. Raya Gatot Subroto Km 3,5<br>
          Tangerang - Banten 15138<br>
          <br>
          Up: Bpk. Sudarso
        </div>
        <div class="tgl">Jakarta, 03 Februari 2023</div>
      </div>

      <div class="isi-surat">
        Sehubungan dengan Perjanjian Pembiayaan Investasi Dengan Cara Sewa Pembiayaan Dengan Hak Opsi tapggal No.
        Kontrak: 23-0029 _antara PT BCA FINANCE (Lessor) dengan INVESTASI NIAGA ANUGERAH, PT (Lessee), mohon agar
        saudara dapat memenuhi pemesanan / pembelian barang - barang berikut ini:

        <table class="table table-bordered bm">
          <thead>
          <tr>
            <th style="font-weight: normal">Nama Barang Modal</th>
            <th style="font-weight: normal">Jumlah</th>
            <th style="font-weight: normal">Harga</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
        </table>

        Pembayaran uang muka dari INVESTASI NIAGA ANUGERAH, PT<br>
        <table class="table">
          <tr>
            <td>kepada supplier adalah sebesar</td>
            <td class="ttk"> :</td>
            <td>Rp. 91.020.000,-</td>
          </tr>
          <tr>
            <td>Pembayaran BCAF ke supplier</td>
            <td class="ttk"> :</td>
            <td>Rp. 364.080.000,-</td>
          </tr>
        </table>

        Barang — barang tersebut harap dikirim langsung kepada:<br>
        <table class="table">
          <tr>
            <td class="ttl">Nama</td>
            <td class="ttk"> :</td>
            <td>INVESTASI NIAGA ANUGERAH, PT</td>
          </tr>
          <tr>
            <td class="ttl">Alamat</td>
            <td class="ttk"> :</td>
            <td>Jalan Soleh Iskandar, Kelurahan Kedung Badak,</td>
          </tr>
          <tr>
            <td></td>
            <td class="ttk"></td>
            <td>Kecamatan Tanah Sereal, Kota Bogor</td>
          </tr>
        </table>
      </div>

      <div class="syt"><b>SYARAT PEMBAYARAN:</b><br>
        Penagihan dapat dilakukan maksimum 30 (tiga puluh hari) dari tanggal P0 dengan melampirkan :
        <ol class="syarat">
          <li class="syarat">Invoice/ Faktur Asli</li>
          <li class="syarat">Tanda Terima Pengiriman Barang / Berita Acara Serah Terima Barang</li>
          <li class="syarat">Kwitansi Asli sebesar nilai pembiayaan</li>
          <li class="syarat">Kwitansi copy untuk uang muka</li>
          <li class="syarat">Surat permintaan transfer yang ditandatangani pejabat berwenang</li>
        </ol>
        Pembayaran akan dilakukan dengan cara transfer ke rekening Supplier sesuai dengan konfirmasi dari Lessee yang
        bersangkutan.
      </div>
<br>
      <div class="row signer">
        <div class="col-md-3">
          Hormat kami, <br>
          PT BCA FINANCE
<br>
          <br>
          <br>
          <br>
          <u>KAHAR SUDIN</u><br>
          Dep. Div. Head. Leasing
        </div>
        <div class="col-md-3">
          Lessee:<br>
          INVESTASI NIAGA ANUGERAH, PT,<br>
          <br>
          <br>
          <br>
          <u>FERDI JUNIYANSAH</u><br>
          Direktur
        </div>
        <div class="col-md-3">
          Supplier:<br>
          PT KHARISMA ESA UNGGUL<br>
          <br>
          <br>
          <br>

          <u>......</u>
        </div>
      </div>
    </div>
    <div class="footer">
      PT BCA FINANCE<br>
      Wisma BCA Pondok Indah, 2nd Floor<br>
      JI. Metro Pondok Indah No. 10 Jakarta 12310<br>
      Phone : 1500 888 (Halo BCA)<br>
      Website : www.bcafinance.co.id
    </div>
  </div>
</div>


<div class="doc6">
  <div>PELAKSANAAN HAK OPSI</div>
  <div>
    <table>
      <tbody>
      <tr>
        <td>Lessee</td>
        <td>INVESTASI NIAGA ANUGERAH, PT</td>
      </tr>
      <tr>
        <td></td>
        <td>Jalan Soleh Iskandar, Kelurahan Kedung Badak, Kecamatan Tanah Sereal, Kota Bogor</td>
      </tr>
      <tr>
        <td>Lessor</td>
        <td>PT BCA FINANCE</td>
      </tr>
      <tr>
        <td></td>
        <td>Wisma BCA Pondok Indah Lt. 2 JI. Metro Pondok Indah No. 10 Jakarta 12310</td>
      </tr>
      <tr>
        <td>Nomor Perjanjian</td>
        <td>Perjanjian Pembiayaan Investasi Dengan Cara Sewa Pembiayaan Dengan Hak Opsi Nomor
          23-0029 tertanggal
        </td>
      </tr>
      <tr>
        <td>No. Kontrak</td>
        <td>23-0029</td>
      </tr>
      <tr>
        <td>Barang Modal</td>
        <td>1 (satu) unit Sumitomo Forklift Reach Truck (New) 8FBR2OJXII</td>
      </tr>
      </tbody>
    </table>
    <p>
      Masa Sewa Pembiayaan :..... Tanggal :.... s/d Tanggal :.....
    </p>
    <div>
      Sehubungan dengan : *)<br>
      <ul>
        <li>pelaksanaan hak opsi atas objek barang modal,</li>
        <li>adanya pelunasan lebih awal atas seluruh kewajiban Lessee sebagaimana yang ternyata pada Surat Pemberitahuan
          Nilai Pelunasan Lebih Awal dari Lessor,
        </li>
      </ul>
      maka dengan ini Lessor dan Lessee telah menyetujui hal-hal sebagai berikut :
      <ol>
        <li>Lessor menyatakan bahwa Lessee telah melunasi seluruh kewajibannya kepada Lessor</li>
        <li>Menunjuk "Memorandum Pelaksanaan Hak Opsi" berdasarkan Perjanjian Pembiayaan Investasi Dengan Cara Sewa
          Pembiayaan Dengan Hak Opsi Nomor 23-0029 tertanggal , Lessor menyetujui untuk menjual dan Lessee menyetujui
          untuk membeli objek barang modal tersebut diatas dengan perincian sebagai berikut :
        </li>
        <ol>
          <li>Harga Penjualan : Rp. 91.020.000,- (sembilan puluh satu juta dua puluh ribu rupiah)</li>
          <li>Tanggal Penjualan (Penyerahan)</li>
        </ol>
        <li>Lessor menjual barang modal tersebut diatas dalam keadaan baik dan sebagaimana adanya ("as is where is
          basis") kepada Lessee
        </li>
        <li>Lessor bebas dari segala kewajiban / tanggung jawab yang berhubungan dengan barang modal tersebut diatas.
        </li>
      </ol>
    </div>
    <div>
      Jakarta,
      <div>
        LESSOR
        PT BCA FINANCE
        LATIFAH FADZERIYANI
        Credit Process Authorized Signer
      </div>
      <div>
        LESSEE
        INVESTASI NIAGA ANUGERAH, PT
        FERDI JUNIYANSAH
        Direktur
      </div>
      * Pilih salah satu dengan tanda " V " sesuai dengan pilihan
    </div>
  </div>


</div>
